<!DOCTYPE html>

<html>
    {{>head}}
    <body>
        <div class="main-content">
            {{>header}}
            <p>This site is just a demo. It uses <a href="https://www.mapbox.com/" target="blank">Mapbox</a>
             to get the coordinates for the location you input, then it uses 
             <a href="https://weatherstack.com/" target="blank">Weatherstack</a> to get the forecast for the 
             given location.</p> 
            
        </div>
        
        {{>footer}}
    </body>
</html>