<!DOCTYPE html>

<html>
    {{>head}}
    <body>
        <div class="main-content">
            {{>header}}
            <p>This site is just a demo. Nothing to add here yet.</p>
        </div>
        
        {{>footer}}
    </body>
</html>