<!DOCTYPE html>

<html>
    {{>head}}
    <body>
        <div class="main-content">
            {{>header}}
            <p>Imagine there's a lot of useful info here. I know, there's none for now.</p>
        </div>
        {{>footer}}
    </body>
</html>